html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body { 
    padding: 1rem;
    font-family: sans-serif;
}

h1 { margin: .5rem 0; }

fieldset {
    margin: 1rem 0;
    padding: 1rem;
    border: 1px solid #ccc;
    width: 25rem;
}

fieldset input {
    width: 100%; 
    display: block;
}
