html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body { 
    font-family: sans-serif;
}

a, a:link, a:visited {
    color: #777;
    font-weight: 500;
    text-decoration: none;
}

/* Header */

header.main {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
}

    header.main h1 {
        flex: 1 0;
        margin: 1rem 0 1rem 2rem;
        color: #333;
    }

    header.main nav {
        flex: 1 0;
        display: block;
        text-align: right;
    }

    header.main nav a {
        color: #555;
        display: inline-block;
        padding: 2rem 2rem 1.25rem;
        font-weight: 500;
        font-size: 1.1rem;
    }

    header.main nav a.selected {
        font-weight: 600;
    }

    header.main nav a:hover {
        background: linear-gradient(to bottom, transparent, rgba(0,0,0,.1));
        text-shadow: 1px 1px 3px rgba(255,255,255,.2);
    }

